h4 {
    display: flex;
    justify-content: center;
}

.container {
    color: #0d6efd;
    width: 50%;
}

#createAnnouncementBtn {
    width: 95%;
    margin: 2rem auto;
    display: block;
}

hr {
    opacity: 50%;
}

li {
    list-style: none;
}

li a {
    /* font-style: none; */
    text-decoration: none;
}

ul {
    padding: 0;
}