div(class="card border-primary")
  div(class="card-body h-50")
    div(class="card-title d-flex justify-content-between") 
        div= classObj.owner.name
        span(class="material-symbols-outlined" id="delete-announcement") delete
    hr
    a(href="/announcement/" + announcement._id) 
      p(class="card-text")= announcement.text 
  footer(class="card-header d-flex justify-content-between") 
    if announcement.last_date
        p= `Last Date: ${announcement.last_date.toLocaleDateString()}`
    if announcement.points
        p= `Points: ${announcement.points}`