extends ../base.pug

block title
    title Academia | Dashboard 

block styles 
    link(rel="stylesheet" href="/styles/includes/drop-down.css")
    link(rel="stylesheet" href="/styles/user/dashboard.css")
    link(rel="stylesheet" href="/styles/includes/form-modal.css")
    link(rel="stylesheet" href="/styles/includes/class-card.css")

block content 
    //- Navbar
    include ../includes/navbar.pug


    //- Main Content
    div(class="gap-2 justify-content-md-end mt-2 me-2 join-class-btns")
        a(class="btn btn-primary me-md-2" class="createClass") Create Class
        a(class="btn btn-primary" class="joinClass") Join Class
    
    if msg
        div(class="alert alert-" + msg.type + " mt-2 alert-dismissible fade show" role="alert")= msg.body 
            button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")

    include ../includes/form-modal.pug

    
    if !user.classes_joined && !user.classes_owned
        div(class="no-classes")
        h4(class="mt-4") Join or Create a Class
    else
        div(class="m-5")
            if user.classes_joined
                h3(class="mb-4") Joined
                div(class="class-card-container mb-5")
                    each val in user.classes_joined
                        include ../includes/class-card.pug

            if user.classes_owned
                h3(class="mb-4") Owned
                div(class="class-card-container")
                    each val in user.classes_owned
                        include ../includes/class-card.pug

block scripts 
    script(src="/js/includes/form-modal.js") 
            