extends ../base.pug

block title
    title Academia | SignUp/Login

block styles 
    link(rel='stylesheet' href='/styles/user/signUp-logIn.css')

block content
    div(class="container")
        div(class="tabs")
            span(id="signUpTab" class="tab")
                p Sign Up
            span(id="logInTab" class="tab logIn-unselected")
                p Log In
        
        //- Error 
        if msg
            div(class="alert alert-" + msg.type + " mt-2 alert-dismissible fade show" role="alert")= msg.body 
                button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
        
        div(class="form-container")
            form(id="logInForm" method="POST" action="/user/logIn")
                div(class="mb-3")
                    label(class="logIn" for='logInEmail') Email address
                    input(id="logInEmail" class="form-control" type='email' name='email')
                div(class="mb-3")
                    label(class="logIn" for='logInPassword') Password
                    input(id="logInPassword" class="form-control" type='password' name='password')
                button(class="btn btn-primary" id="logInSubmit" type='submit') LogIn
            
            form(id="signUpForm" method="POST" action="/user/signUp")
                div(class="mb-3")
                    label(class="logInText" for='signUpName') Name
                    input(class="form-control" id="signUpName" name="name" type='text')
                div(class="mb-3")
                    label(class="logInText" for='signUpEmail') Email address
                    input(id="signUpEmail" class="form-control" name="email" type='email')
                div(class="mb-3")
                    label(class="logInText" for='signUpPassword') Password
                    input(id="signUpPassword" class="form-control" name="password" type='password')
                button(id="signUpSubmit" class="btn btn-primary" type='submit') SignUp

block scripts
    script(src='/js/user/signUp-logIn.js')
