extends ../base.pug

block title
    title Academia | Home

block styles 
    link(rel="stylesheet", href="/styles/home/home.css")

block content
    //- Navbar
    include ../includes/navbar.pug

    //- -----------------------------------------------------------------------------------------------------

    //- Main Content of site
    div(class='content-box')
        div(class="text" id="text-1")
            h2 Welcome to Academia 
            p Where learning meets technology
        img(src="/images/home-1.jpg" alt="Online teaching" id="home-1-image")
        img(src="/images/home-2.png" alt="Online teaching" id="home-2-image")
        div(class="text" id="text-2")
            h2 Take Everything Online
            p No need to worry about handling piles of assignments and test papers. Just use Academia for all of your assigments, notes and test needs.
        


            