extends ../base.pug

block title
    title Academia | Home

block styles 
    link(rel="stylesheet", href="/styles/home/home.css")

block content
    //- Navbar
    nav(class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary")
        div(class="container-fluid")
            a(class="navbar-brand ms-2" href="/")
                //- img(src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top") 
                | Academia
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="navbar-nav ms-auto mb-2 mb-lg-0")
                    li(class="nav-item mb-2 mt-2")
                        a(class="btn btn-outline-light" href="/user/") Create Account / LogIn

    //- -----------------------------------------------------------------------------------------------------

    //- Main Content of site
    div(class='content-box')
        div(class="text" id="text-1")
            h2 Welcome to Academia 
            p Where learning meets technology
        img(src="/images/home-1.jpg" alt="Online teaching" id="home-1-image")
        img(src="/images/home-2.png" alt="Online teaching" id="home-2-image")
        div(class="text" id="text-2")
            h2 Take Everything Online
            p No need to worry about handling piles of assignments and test papers. Just use Academia for all of your assigments, notes and test needs.
        


            